html, body {
   margin:0;
   padding:0;
   height:100%;
   font-family: 'Montserrat', sans-serif;
}

#container {
   min-height:100%;
   position:relative;
}

#header {
   background: rgb(28, 34, 41) none repeat scroll 0% 0%;
   color: white;
}

#body {
   padding:10px;
   padding-bottom:60px;   
}

#footer {
   position:absolute;
   align-content: center;
   bottom:0;
   width:100%;
   background: rgb(28, 34, 41) none repeat scroll 0% 0%;
   color: white;
}

.box{
    padding: 10px 40px 10px 40px;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(28, 34, 41) ;
    color: white;
}

input[type=text] {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
}
